:root{
    --celesteClaro: #10f0fc; 
    --celesteOscuro: #10637d;
    --negro: #1c2025;
    --negro-claro: #27282f;
    --gris: #b3c3d7;
    --beige: #f2f2f2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 30px;
    width: 100%;
    background: var(--negro);
    gap: 10px;
}
.c-text {
    margin-right: 10px;
}
.container div p {
    color: var(--celesteClaro);
    font-size: 13px;
    font-weight: bold;
}
.switch {
    height: 15px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer;

    border: none;
    background-color: var(--celesteClaro);
    box-shadow: inset 0 0 10px #000;
}
.darkButton {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;

    background-color: #fff;
    border: 2px solid #000;
    box-shadow: none;
}
.circle {
    height: 9px;
    width: 9px;
    background-color: var(--negro);
    transform: translateX(3px);
    border-radius: 50%;
    transition: .5s;
}
.darkCircle {
    height: 9px; 
    width: 9px;
    background-color: #000;
    transform: translateX(65px);
    border-radius: 50%;
    transition: .5s;
}
