:root{
    --celesteClaro: #10f0fc; 
    --celesteOscuro: #10637d;
    --negro: #1c2025;
    --negro-claro: #27282f;
    --gris: #b3c3d7;
    --beige: #f2f2f2;
}

* {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.c-navbar {
    background-color: var(--negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-top: 30px;
}
.c-navbar a img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    padding: 5px;
}
.c-navbar a img:hover {
    background-color: var(--negro-claro);
    transition: .5s;
    border-radius: 5px;
}
.c-list-navbar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.list-navbar {
    list-style: none;
    display: flex;
}
.list-navbar li {
    padding: 10px;
    margin: 5px;
    color: var(--beige);
    border-radius: 5px;
    font-size: 13px;
}
.list-navbar li:hover {
    background-color: var(--negro-claro);
    transition: .5s;
}
.list-navbar li a {
    text-decoration: none;
    color: var(--beige);
}